## editors
/.idea

## system files
.DS_Store

## npm
**/node_modules/
/npm-debug.log
/.rollup.cache/

## testing
/coverage/

## temp folders
/.tmp/

# build
**/dist/
**/*.tsbuildinfo

storybook-static
custom-elements.json
package-lock.json

**/env.json

/**/*js.map
