/packages/app-shell/global-routes.ts
.wireit

## editors
/.idea

## system files
.DS_Store

## npm
**/node_modules/
/npm-debug.log
/.rollup.cache/

## testing
/coverage/

## temp folders
/.tmp/

# build
dist
.dist
tsconfig.tsbuildinfo

storybook-static
custom-elements.json
package-lock.json

**/env.json
**/env.ts

/**/*js.map

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
