@media screen {
  .scroll-target {
    overflow: auto;
  }

  :host::-webkit-scrollbar,
  .scroll-target::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background: transparent;
  }

  :host::-webkit-scrollbar,
  .scroll-target::-webkit-scrollbar:vertical {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
  }

  :host::-webkit-scrollbar,
  .scroll-target::-webkit-scrollbar:horizontal {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }

  :host(.scroll-lg)::-webkit-scrollbar,
  .scroll-target.scroll-lg::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  :host(.scroll-md)::-webkit-scrollbar,
  .scroll-target.scroll-md::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  :host(.scroll-sm)::-webkit-scrollbar,
  .scroll-target.scroll-sm::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  :host::-webkit-scrollbar-thumb,
  .scroll-target::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 12px;
  }

  :host(:hover)::-webkit-scrollbar-thumb,
  .scroll-target:hover::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 12px;
  }
}
