input[name='email'],
input[name='current-password'] {
  background: transparent;
  border-radius: 24px;
  border: 2px solid var(--color-scale-gray-9);
  box-sizing: border-box;
  color: var(--color-text-primary);
  font-family: inherit;
  font-size: 1.6rem;
  height: 48px;
  font-weight: 600;
  padding: 0 55px;
  width: 100%;
}

input[name='email']::placeholder,
input[name='current-password']::placeholder {
  color: var(--color-text-placeholder);
  font-weight: 300;
}

input:focus-visible {
  outline: none;
}
