/*
<div class="tourney-card" competitionId="premier">
  <img src="/assets/images/premier-league.svg" alt="Premier League logo" />
  <div class="tourney-description">
    <div class="tourney-name">Una de Premier</div>
    <span>${Icons('person', 10)} 8</span>
  </div>
  <img src="/assets/images/silver-medal.svg" alt="Silver medal" />
  <div class="offset-shadows">
    <div></div>
    <div></div>
  </div>
</div>
*/

.tourney-card {
  background-color: var(--color-scale-gray-6);
  border-radius: 2rem;
  box-sizing: border-box;
  color: var(--color-fg-on-emphasis);
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: max-content auto max-content;
  height: 12.4rem;
  max-height: 14.4rem;
  max-width: 44rem;
  padding: 2rem;
  position: relative;
  width: 90%;
  z-index: 1;
}

.tourney-description {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.offset-shadows > div {
  position: absolute;
  height: 10px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  left: 0;
  right: 0;
  margin: auto;
}

.offset-shadows div:first-child {
  width: 90%;
  bottom: -10px;
}

.offset-shadows div:last-child {
  width: 75%;
  bottom: -20px;
}

.tourney-name {
  font-weight: bold;
  font-size: 1.6rem;
}

.tourney-card[competitionId='laliga'] {
  background-color: #375cbf;
  background-image: url('/assets/patterns/laliga.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.tourney-card[competitionId='laliga'] .offset-shadows div:first-child {
  background: #cbd9ff;
}

.tourney-card[competitionId='laliga'] .offset-shadows div:last-child {
  background: #e0e7ff;
}

.tourney-card[competitionId='premier'] {
  background-image: url('/assets/patterns/premier-league.svg'),
    linear-gradient(to bottom right, #ff2882, #4c00a6);
  background-position: 50% 50%;
  background-size: cover;
}

.tourney-card[competitionId='premier'] .offset-shadows div:first-child {
  background: #f8c8f1;
}

.tourney-card[competitionId='premier'] .offset-shadows div:last-child {
  background: #ffe4fb;
}

.tourney-card[competitionId='champions'] {
  background-image: url('/assets/patterns/champions-league.svg');
  background-position: 60% 22%;
  background-size: auto;
}

.tourney-card[competitionId='champions'] .offset-shadows div:first-child {
  background: #8db1ed;
}

.tourney-card[competitionId='champions'] .offset-shadows div:last-child {
  background: #d3e3fd;
}
